* {
  box-sizing: border-box;
}

html {
  font-family: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 22px;
  color: #403d78;
}
@media only screen and (max-width: 1025px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-height: 535px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  background-color: #fbfafc;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, #f9f5ff 25%, #f9f5ff 50%, transparent 50%);
  background-image: -moz-linear-gradient(135deg, transparent 25%, #f9f5ff 25%, #f9f5ff 50%, transparent 50%);
  background-image: linear-gradient(135deg, transparent 25%, #f9f5ff 25%, #f9f5ff 50%, transparent 50%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

div {
  padding: .5rem;
}

.gradient-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .18rem;
  background: -webkit-linear-gradient(-45deg, #705a9e 0, #544d8a 100%);
  background: -moz-linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background: linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0.4rem solid #544d8a;
}

.play-area {
  align-self: center;
  width: 1040px;
}
@media only screen and (max-width: 1025px) {
  .play-area {
    width: 100%;
  }
}
@media only screen and (max-width: 812px) {
  .play-area {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-height: 535px) {
  .play-area {
    padding: 0;
  }
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 812px) {
  .output {
    flex-direction: column;
    min-width: 20rem;
    max-width: 21rem;
  }
}

.regular-devices {
  display: flex !important;
}
@media only screen and (max-width: 812px) {
  .regular-devices {
    display: none !important;
  }
}

.small-devices {
  display: none !important;
}
@media only screen and (max-width: 812px) {
  .small-devices {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
  }
}
@media only screen and (max-height: 535px) {
  .small-devices {
    margin-top: .1rem;
  }
}

.output-players {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.output-player,
.output-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 28%;
  margin-top: 1.4rem;
  padding-top: 1.9rem;
  padding-bottom: 1.8rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background: -webkit-linear-gradient(-45deg, #705a9e 0, #544d8a 100%);
  background: -moz-linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background: linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.035);
}
@media only screen and (max-width: 812px) {
  .output-player,
  .output-computer {
    flex-basis: 47%;
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-height: 535px) {
  .output-player,
  .output-computer {
    flex-basis: 48.5%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow: none;
  }
}

.player-title,
.computer-title {
  margin-bottom: .8rem;
  font-size: 1.55rem;
  font-style: italic;
}
@media only screen and (max-width: 812px) {
  .player-title,
  .computer-title {
    margin-top: .5rem;
    margin-bottom: .8rem;
    font-size: 1.15rem;
  }
}
@media only screen and (max-height: 535px) {
  .player-title,
  .computer-title {
    margin-top: .1rem;
    margin-bottom: .35rem;
    font-size: 1.1rem;
  }
}

.output-selection {
  font-size: 1.25rem;
}
@media only screen and (max-width: 812px) {
  .output-selection {
    margin-top: .25rem;
    margin-bottom: .5rem;
    font-size: 1rem;
  }
}
@media only screen and (max-height: 535px) {
  .output-selection {
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
}

.output-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 44%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #fff;
  border: 1px solid rgba(72, 74, 97, 0.2);
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.035);
}
@media only screen and (max-width: 812px) {
  .output-main {
    flex-basis: auto;
    margin-left: initial;
    margin-right: initial;
    width: 100%;
  }
}
@media only screen and (max-height: 535px) {
  .output-main {
    box-shadow: none;
  }
}

.output-main-item {
  align-self: center;
}

.output-score {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  width: 100%;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.45rem;
  width: 4rem;
  font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color: #544d8a;
  border-radius: 0.25rem;
}

.score-container-player {
  border: 1px solid #76D66D;
  border-bottom-width: 2px;
}

.score-container-tie {
  border: 1px solid #e3ab04;
  border-bottom-width: 2px;
}

.score-container-computer {
  border: 1px solid #d95757;
  border-bottom-width: 2px;
}

.score-title {
  margin-top: 0;
  margin-bottom: .9rem;
  font-size: .95rem;
}

.score {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .95rem;
}

.output-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-emoji {
  font-size: 3.3rem;
  line-height: 0;
  margin-top: 1.82rem;
  margin-bottom: 2.6rem;
  color: #544d8a;
}

.options {
  margin-top: .5rem;
}

.options,
.options-throw {
  width: 100%;
}

.options-throw,
.options-restart {
  padding: 0;
}

.player-throw {
  width: 32%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  color: #fbfafc;
  background: -webkit-linear-gradient(-45deg, #705a9e 0, #544d8a 100%);
  background: -moz-linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background: linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.footer-item {
  align-self: center;
}

.credits {
  margin-left: .15rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

@media only screen and (max-width: 576px) {
  .credits-text {
    text-align: center;
    line-height: 1.7;
  }
}

.credits-pre-name {
  margin-right: -.1rem;
}

.credits-name {
  display: inline-block;
  padding-top: .24rem;
  padding-left: .1rem;
  padding-right: .15rem;
  padding-bottom: .1rem;
}
@media only screen and (max-width: 812px) {
  .credits-name {
    padding-top: .35rem;
    padding-bottom: .3rem;
  }
}
@media only screen and (max-width: 576px) {
  .credits-name {
    display: ruby;
  }
}

.footer-link {
  color: #fbfafc;
}

.footer-link:hover,
.footer-link:focus {
  color: #fff;
}

.text-link {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.text-link:hover,
.text-link:focus {
  color: #544d8a;
  background-color: #fff;
}

.github-icon {
  width: 2rem;
  fill: #fbfafc;
  overflow: visible !important;
}

.btn {
  padding: .7rem .4rem;
  font-family: inherit;
  font-size: 1rem;
  background: none;
  color: #544d8a;
  text-decoration: none;
  border: 1px dotted #ac8bf3;
  border-radius: 0.25rem;
  transition: all .4s;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  background: -webkit-linear-gradient(-45deg, #705a9e 0, #544d8a 100%);
  background: -moz-linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background: linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.btn-animated {
  animation: 1s ease-in-out selectedbutton;
}

@keyframes selectedbutton {
  0% {
    color: #fff;
    background: #544d8a;
  }
  26% {
    color: #fff;
    background: #8b81e6;
  }
  54% {
    color: #fff;
    background: #544d8a;
  }
  92% {
    color: #fff;
    background: #8b81e6;
  }
}
.btn-full-width {
  width: 100%;
}

button:focus {
  outline: none;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
