* {
  box-sizing: border-box; }

html {
  font-family: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 22px;
  color: #282640; }

body {
  font-size: 1rem;
  background-color: #f5f7fa; }

div {
  padding: .5rem; }

a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none; }

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0.4rem solid #595385; }

.play-area {
  align-self: center;
  width: 1040px; }

.output {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.output-player,
.output-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 28%;
  margin-top: 1.4rem;
  padding-top: 1.9rem;
  padding-bottom: 1.8rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background: -webkit-linear-gradient(-45deg, #615285 0, #595385 100%);
  background: -moz-linear-gradient(135deg, #615285 0, #595385 100%);
  background: linear-gradient(135deg, #615285 0, #595385 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto; }

.player-title,
.computer-title {
  margin-bottom: .8rem;
  font-size: 1.55rem;
  font-style: italic; }

.output-selection {
  font-size: 1.25rem; }

.output-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 44%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #fff;
  border: 1px solid rgba(72, 74, 97, 0.2);
  border-radius: 0.25rem; }

.output-main-item {
  align-self: center; }

.output-score {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  width: 100%; }

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  border-radius: 0.25rem; }

.score-container-player {
  border: 1px solid #59d975; }

.score-container-tie {
  border: 1px solid #e6c25c; }

.score-container-computer {
  border: 1px solid #d95959; }

.score-title {
  margin-top: 0;
  margin-bottom: .9rem;
  font-size: .95rem; }

.score {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .95rem; }

.output-result {
  display: flex;
  flex-direction: column;
  align-items: center; }

.output-emoji {
  font-size: 3.3rem;
  line-height: 0;
  margin-top: 1.82rem;
  margin-bottom: 2.6rem;
  color: #595385; }

.options {
  margin-top: .5rem; }

.options,
.options-throw {
  width: 100%; }

.options-throw,
.options-restart {
  padding: 0; }

.player-selection {
  width: 32%; }

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  color: #f5f7fa;
  background: -webkit-linear-gradient(-45deg, #615285 0, #595385 100%);
  background: -moz-linear-gradient(135deg, #615285 0, #595385 100%);
  background: linear-gradient(135deg, #615285 0, #595385 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto; }

.footer-item {
  align-self: center; }

.credits {
  margin-bottom: 2rem;
  font-size: 1.1rem; }

.footer-link {
  color: #f5f7fa; }

.footer-link:hover,
.footer-link:focus {
  color: #fff; }

.github-icon {
  width: 2rem;
  fill: #f5f7fa;
  overflow: visible !important; }

.btn {
  padding: .7rem .5rem;
  font-family: inherit;
  font-size: 1rem;
  background: none;
  color: #595385;
  text-decoration: none;
  border: 1px dotted #978ee6;
  border-radius: 0.25rem;
  transition: all .4s; }

.btn:hover,
.btn:focus {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  background: -webkit-linear-gradient(-45deg, #615285 0, #595385 100%);
  background: -moz-linear-gradient(135deg, #615285 0, #595385 100%);
  background: linear-gradient(135deg, #615285 0, #595385 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto; }

.btn-animated {
  animation: 1s ease-in-out selectedbutton; }

@keyframes selectedbutton {
  0% {
    color: #fff;
    background: #595385; }
  26% {
    color: #fff;
    background: #978ee6; }
  54% {
    color: #fff;
    background: #595385; }
  92% {
    color: #fff;
    background: #978ee6; } }
.btn-full-width {
  width: 100%; }

button:focus {
  outline: none; }

.display-none {
  display: none; }

.no-border-link {
  border: none; }

/*# sourceMappingURL=styles.css.map */
