@import "normalize";


//
// Variables
//


$brand-color: #544d8a;

$very-dark-violet: #403d78;
$lighter-violet: #6d64b3;
$light-violet: #8b81e6;
$pinkish-violet: #705a9e;
$light-pinkish-violet: #ac8bf3;

$green: #76D66D;
$yellow: #e3ab04;
$red: #d95757;

$light-grey-1: #fbfafc;
$light-grey-2: #f9f5ff;
$white: #fff;

$border-radius: .25rem;

$small-devices-height: 535px;
$small-devices: 576px;
$medium-devices: 812px;
$large-devices: 1025px;


//
// Mixins
//


@mixin background-gradient {
  background: -webkit-linear-gradient(-45deg, $pinkish-violet 0, $brand-color 100%);
  background: -moz-linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background: linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

@mixin max-media-width($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin max-media-height($height) {
  @media only screen and (max-height: $height) {
    @content;
  }
}


//
// Initial Setup
//


* {
  box-sizing: border-box;
}

html {
  font-family: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 22px;
  color: $very-dark-violet;

  @include max-media-width($large-devices) {
    font-size: 20px;
  }

  @include max-media-width($small-devices) {
    font-size: 16px;
  }

  @include max-media-height($small-devices-height) {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  background-color: $light-grey-1;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, $light-grey-2 25%, $light-grey-2 50%, transparent 50%);
  background-image: -moz-linear-gradient(135deg, transparent 25%, $light-grey-2 25%, $light-grey-2 50%, transparent 50%);
  background-image: linear-gradient(135deg, transparent 25%, $light-grey-2 25%, $light-grey-2 50%, transparent 50%);
  background-position: 50% 50%;
 -webkit-background-origin: padding-box;
  background-origin: padding-box;
 -webkit-background-clip: border-box;
  background-clip: border-box;
 -webkit-background-size: auto auto;
  background-size: auto auto;
}

div {
  padding: .5rem;
}

.gradient-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .18rem;
  @include background-gradient;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0.4rem solid $brand-color;
}

.play-area {
  align-self: center;
  width: 1040px;

  @include max-media-width($large-devices) {
    width: 100%;
  }

  @include max-media-width($medium-devices) {
    display: flex;
    justify-content: center;
  }

  @include max-media-height($small-devices-height) {
    padding: 0;
  }
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max-media-width($medium-devices) {
    flex-direction: column;
    min-width: 20rem;
    max-width: 21rem;
  }
}


//
// Player and Computer Boxes
//


.regular-devices {
  display: flex !important;

  @include max-media-width($medium-devices) {
    display: none !important;
  }
}

.small-devices {
  display: none !important;

  @include max-media-width($medium-devices) {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
  }

  @include max-media-height($small-devices-height) {
    margin-top: .1rem;
  }
}

.output-players {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.output-player,
.output-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 28%;
  margin-top: 1.4rem;
  padding-top: 1.9rem;
  padding-bottom: 1.8rem;
  color: $white;
  border: 1px solid transparent;
  border-radius: $border-radius;
  @include background-gradient;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .035);

  @include max-media-width($medium-devices) {
    flex-basis: 47%;
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include max-media-height($small-devices-height) {
    flex-basis: 48.5%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow: none;
  }
}

.player-title,
.computer-title {
  margin-bottom: .8rem;
  font-size: 1.55rem;
  font-style: italic;

  @include max-media-width($medium-devices) {
    margin-top: .5rem;
    margin-bottom: .8rem;
    font-size: 1.15rem;
  }

  @include max-media-height($small-devices-height) {
    margin-top: .1rem;
    margin-bottom: .35rem;
    font-size: 1.1rem;
  }
}

.output-selection {
  font-size: 1.25rem;

  @include max-media-width($medium-devices) {
    margin-top: .25rem;
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  @include max-media-height($small-devices-height) {
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
}


//
// Central Box
//


.output-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 44%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: $white;
  border: 1px solid rgba(72, 74, 97, .2);
  border-radius: $border-radius;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .035);

  @include max-media-width($medium-devices) {
    flex-basis: auto;
    margin-left: initial;
    margin-right: initial;
    width: 100%;
  }

  @include max-media-height($small-devices-height) {
    box-shadow: none;
  }
}

.output-main-item {
  align-self: center;
}

.output-score {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  width: 100%;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.45rem;
  width: 4rem;
  font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color: $brand-color;
  border-radius: $border-radius;
}

.score-container-player {
  border: 1px solid $green;
  border-bottom-width: 2px;
}

.score-container-tie {
  border: 1px solid $yellow;
  border-bottom-width: 2px;
}

.score-container-computer {
  border: 1px solid $red;
  border-bottom-width: 2px;
}

.score-title {
  margin-top: 0;
  margin-bottom: .9rem;
  font-size: .95rem;
}

.score {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .95rem;
}

.output-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-emoji {
  font-size: 3.3rem;
  line-height: 0;
  margin-top: 1.82rem;
  margin-bottom: 2.6rem;
  color: $brand-color;
}

.options {
  margin-top: .5rem;
}

.options,
.options-throw {
  width: 100%;
}

.options-throw,
.options-restart {
  padding: 0;
}

.player-throw {
  width: 32%;
}


//
// Footer
//


.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  color: $light-grey-1;
  @include background-gradient;
}

.footer-item {
  align-self: center;
}

.credits {
  margin-left: .15rem;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

.credits-text {
  @include max-media-width($small-devices) {
    text-align: center;
    line-height: 1.7;
  }
}

.credits-pre-name {
  margin-right: -.1rem;
}

.credits-name {
  display: inline-block;
  padding-top: .24rem;
  padding-left: .1rem;
  padding-right: .15rem;
  padding-bottom: .1rem;

  @include max-media-width($medium-devices) {
    padding-top: .35rem;
    padding-bottom: .3rem;
  }

  @include max-media-width($small-devices) {
    display: ruby;
  }
}

.footer-link {
  color: $light-grey-1;
}

.footer-link:hover,
.footer-link:focus {
  color: $white;
}

.text-link {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.text-link:hover,
.text-link:focus {
  color: $brand-color;
  background-color: $white;
}

.github-icon {
  width: 2rem;
  fill: $light-grey-1;
  overflow: visible !important;
}


//
// Helpers
//


.btn {
  padding: .7rem .4rem;
  font-family: inherit;
  font-size: 1rem;
  background: none;
  color: $brand-color;
  text-decoration: none;
  border: 1px dotted $light-pinkish-violet;
  border-radius: $border-radius;
  transition: all .4s;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn-active {
  text-decoration: none;
  color: $white;
  border: 1px solid transparent;
  @include background-gradient;
}

.btn-animated {
  animation: 1s ease-in-out selectedbutton;
}

@keyframes selectedbutton {
  0% {
    color: $white;
    background: $brand-color;
  }

  26% {
    color: $white;
    background: $light-violet;
  }

  54% {
    color: $white;
    background: $brand-color;
  }

  92% {
    color: $white;
    background: $light-violet;
  }
}

.btn-full-width {
  width: 100%;
}

button:focus {
  outline: none;
}

.display-none {
  display: none;
}
